{app,[riak_http]}.
{erl_opts,[debug_info]}.

{cover_enabled, true}.
{clean_files, ["ebin/*.beam", "priv/log/*"]}.

{deps_dir,["deps"]}.
{sub_dirs, ["deps","apps/riak_http","rel"]}.
{deps,[
        {riakc, ".*", {git, "git://github.com/basho/riak-erlang-client.git", {branch, "master"}}},
	{mochiweb, ".*", {git, "git://github.com/mochi/mochiweb.git", "HEAD"}},
	{struct, ".*", {git, "git://github.com/benahlan/struct.git", "HEAD"}},
	{lager, ".*", {git, "git://github.com/basho/lager.git", {branch,"master"}}},
	{cowboy, ".*", {git, "git://github.com/extend/cowboy.git", {branch, "master"}}},
	{uuid, ".*", {git, "git://github.com/okeuday/uuid.git", {branch, "master"}}}
]}.
